<footer>
  <div class="footer_container">
    <div id="css-table">
        <div class="col">
        538 NE 127th Street<br>
        Seattle, WA  98103<br>
        (206) 362-1888
        </div>
        <div class="col">
        <h3>Quick Links</h3>
        <a href="http://www.newfruit.org/"><img src="{{site.url}{baseurl}}/images/newfruitfellowship_banner_s.jpg"></a>
        </div>
        <div class="col">
        </div>
    </div>
    
    <div class="copyright">
        Powered by Paginate
    </div>
  </div>
  
</footer>
