html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 150px;
        padding: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
        width:100%;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
.homepageTextBox {
    margin-bottom: 100px;
}

a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
        color: $heading-font-color;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	top: 0;
        height: 60px;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 40px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: right;
		max-width: 600px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: 5px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	home {
            float: left;
            max-width: 400px;
            line-height: 20px;
            padding: 15px;
            font-family: 'Muli', sans-serif;
        }
}

iframe {
    width: 100%;
    max-width: $content-width;
    height: 400px;
    max-height: 100%;
    border:0;
    margin: 0 auto;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    overflow:hidden;
}

.footer_container {
	padding: 0;
        margin: 0;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #CCC;
	background-color: $header;
        text-align: center;
}

#css-table {
    display: table;
    max-width: $content-width;
    margin: 0 auto !important;
    float: none !important;
}
#css-table .col {
  display: table-cell;
  padding: 10px;
}
#css-table .col:nth-child(even) {
  width: 300px;
}
#css-table .col:nth-child(odd) {
  width: 300px;
}

.copyright {
    float: right;
    font-size: 10px;
    color:#cccccc;
}

.main-slides {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.slide {
	box-shadow: 0px 2px 2px #E9EBEC;
	margin-bottom: 50px;
}
.slideshow-iframe {
	width: 100%;
	height: 100%;
        max-width: 100%;
        max-height: 100%;
	height: 400px;
	border: none;
	background-color: #FFF;
}
.sub-slideshow {
	background-color: #FFF;
	padding: 10px;
}
.sub-slideshow a {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	padding: 0;
	margin-right: 20px;
	font-weight: bold;
}
.sub-slideshow h1 {
	color: #666;
	font-weight: normal;
	margin-top: 0;
}
.sub-slideshow a {
	color: #000;
}

img {
    max-height: 350px;
}
