<!DOCTYPE html>
<html>

{% include header.html %}

<body>
	<div class="main_container">
            {% if page.carousel %}
            <div class="flexslider">
            <ul class="slides">
                {% for slides in page.carousel %}
                <li>
                <img src="{{ slides.image }}">
                </li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
	
            <main>
                    <article>
                            {{ content }}
                    </article>
            </main>
        </div>
</body>

{% include footer.html %}

</html>